@import '../../themes/theme';

.vtCart {
    border-radius: $spacing-50;
    color: $text-color-100;
    padding: $spacing-200;
    width: 100%;
    display: flex; 
    flex-direction: column; 
    justify-content: space-between;

    h3{
      font-size: $font-size-300;
      font-weight: $font-weight-bold;
      margin-top: $spacing-200;
      // margin-bottom: $spacing-200;
    }

    a{
      display: flex;
      text-transform: uppercase;
    }

    .icon{
      width: 15px;
      height: 15px;
      margin: 5px 5px 0px 0px;
    }
}

.vtCart:nth-of-type(1n){
  background-color: $tertiary-200;
}

.vtCart:nth-of-type(2n) {
  background-color: $primary-100;
}
       
.img-container {
    height: 0;
    overflow: hidden;
    padding-top: 100%;
    position: relative;
    width: 100%;
  
    img {
      position: absolute;
      top: 0;
      transition: transform 0.3s ease-in;
    }

    img:hover {
        transform: scale(1.2);
    }
}
  