@import '../../themes/theme';
.layout {
  display: grid;
  grid-row-gap: $spacing-400;
}

.writing-container {
  display: grid;
  grid-column-gap: $spacing-200;
  grid-row-gap: $spacing-400;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
 
}
 
.smallHeading1{
   h1{
    color: $tertiary-200;
    font-size: $font-size-200;
    font-style: italic;
    font-weight: normal;
    text-align: end;
   }

}
@media screen and (min-width: $bp-200) {
  .layout {
    grid-row-gap: $spacing-600;
  }

  .writing-container {
    grid-row-gap: $spacing-600;

    figure {
      max-width: 40rem;
    }
  }
}

@media screen and (min-width: $bp-300) {
  .writing-container {
    grid-column-gap: $spacing-300;

    figure {
      max-width: 31.25rem;
    }
  }
}

@media screen and (min-width: $bp-400) {
  .writing-container {
    grid-column-gap: $spacing-500;
  }
}